/*Nav Bar css DONT TOUCH */

#navbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top:1px;
    left: 0;
    height: 70px;
    width: 100%;
    
}

#navbar a {
    color: #9271da;
    text-decoration: none;
    width: 240px; 
    height: 40px; 
    padding: 0; 
    margin: 0;
    border: 1px solid #9271da;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {

    width: 180px; 
    height: 100px;
    margin-left: 20px; 
}

#navbar a:hover {
    color: #f08173;
    border: 1px solid #f08173;
}


.dropbtn {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 12px 16px;
    text-decoration: none;
}


.dropdown-content {
    top: 75px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    z-index: 1;
    border: 1px solid #f08173;
    border-radius: 5px;
    text-align: center; 
    color:#f08173
   
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*WORK OTHER CSS UNDER HERE OR CREATE A DIF CSS FILE FOR EACH PAGE, IF CHOSEN TO WORK UNDER HERE THEN MAKE SURE TO COMMENT PAGE NAME AND SECTION IT OFF LIKE WHAT I DID WITH THE NAV BAR */
